* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
 
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#table {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    background-image: url(images/background_game.jpg);
}

#chip {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    position: absolute;
    justify-content: center;
    background-image: url(images/background_game.jpg);
    bottom: 70px;
    gap: 1rem;
}

h2{
    color: white;
}
p{
    color: white;
}

#game {   
    position:absolute;
    justify-content: center;
    background-image: url(images/table.png);
}

#dealer-cards img{
    height: 145px;
    width: 104px;
    margin: 3px;
}

#your-cards img{
    height: 145px;
    width: 104px;
    margin: 3px;
}

#hit{
    width: 75px;
    height: 35px;
    font-size: 18px;
}

#pass{
    width: 75px;
    height: 35px;
    font-size: 18px;
}

#next-round{
    display: none;
    width: 120px;
    height: 35px;
    font-size: 18px;
}

#button-red{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 0.5rem;
}

#results {
    padding-top: 10px;
}

button {
    background-color: red;
    color: white;
    border-radius: 50px;
}
#button-back {
    display: flex;
   align-items: center;
    position: absolute;
   /* justify-content: center;*/
    /*background-image: url(images/table.png);*/
    color: antiquewhite;
   /* margin-left: 1200px;*/
    top: 70px;
    right: 70px;
    width: 100px; 
    height: 40px; 
    background-color: gold;
    justify-content: center;
    
    border-radius: 50px; 
    cursor: pointer; 
    color: black; 
    font-size: 18px; 
    text-decoration: none;
   
}

#score{
    display: flex;
    align-items: center;
     position: absolute;
    /* justify-content: center;*/
     /*background-image: url(images/table.png);*/
     color: antiquewhite;
    /* margin-left: 1200px;*/
     top: 110px;
     right: 70px;
     width: 100px; 
     height: 40px; 

}
