body {
   /* margin: 0;*/
    background: url('../images/background.webp') no-repeat;
    background-size: cover;
    background-position: top;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  h1 {
    color: #bcec11;
    font-weight: bolder;
    font-size: 90px;
    text-align: center;
    text-shadow: 1px 0px 20px #141318;
  }
    .boton-jugar {
        background: black;
        cursor: pointer;
        border: none;
        padding: 16px 32px;
        color: azure;
        font-size: 24px;
        font-weight: bold;
        position: relative;
        border-radius: 12px; 
    }
     button:hover::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
        background-size: 800%;
        border-radius: 12px;
        filter: blur(8px);
        animation: glowing 20s linear infinite; 
    } 
    @keyframes glowing {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }
    
    