body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.containner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    position: absolute;
    justify-content: center;
    padding-left: 800px;
    background-image: url(images/background_home.jpg);
}

  #button-play {
    width: 260px; 
    height: 60px; 
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: none; 
    border-radius: 50px; 
    cursor: pointer; 
    color: black; 
    font-size: 26px; 
    text-align: right;
    text-decoration: none;
    }
    #button-rules {
      width: 260px; 
      height: 60px; 
      background-color: gold;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      border: none; 
      border-radius: 50px; 
      cursor: pointer; 
      color: black; 
      font-size: 26px; 
      text-align: right;
      text-decoration: none;
    }

    
  #game-screen {
    display: none;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url(../images/background_game.jpg);
    background-size: cover;
  }
    #test {
      display: flex;
      gap: 1rem;
    }
    
   
